:root {
    --site_color_01: #f7e1ed;
    --site_color_02: #ecbecf;
    --site_color_03: #c6a693;

    --cipria: #E8CDCD;
    --tabacco: #B7836E;
    --indian_pink: #FF40D7;
    --chocomelanzana: #511E3A;
    --blu_majorelle: #2642EA;
    --nero: #000000;
    --rosa_residenza: #EF96CF;

    --background_01: white;

    --standard_font: Arial, sans-serif;

    scrollbar-color: var(--site_color_02) var(--site_color_01);
}

html {
    
}

body {
    background: var(--background_01);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FORMATTING */
.standard-font-format-black {
    font: var(--standard_font);
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.standard-font-format-white {
    font: var(--standard_font);
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.title-font-format-black {
    font: var(--standard_font);
    font-size: 4rem;
    font-weight: bold;
    color: black;
}

.title-font-format-white {
    font: var(--standard_font);
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.no-header-height-full-width {
    height: calc(100vh - 2.75rem);
    width: 100%;
}

.top-border {
    border-top: 2px solid black; /* Imposta uno spessore di 2px e colore nero */
}

.pointer {
    cursor: pointer;
}

.placeholder {
    position: relative;  
    height: calc(100vh - 2.75rem);
    width: 100%;
    background: transparent;
    pointer-events: none;
}

.bod-ital {
    font-family: 'LibreBodoni-Regular', serif;
    font-style: italic;
}

/* BUTTON STILES */

.button-1 {
    padding: 15px 25px;
    border: unset;
    border-radius: 2px;
    color: #212121;
    z-index: 1;
    background: white;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
   
.button-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 2px;
    background-color: var(--rosa_residenza);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
.button-1:hover {
    color: black;
}
   
.button-1:hover::before {
    width: 100%;
}

/* ANIMATIONS */

@keyframes fade-in-bot {
    contain 10% { opacity: 0; top: 10%; }
    contain 40% { opacity: 1; top: 0; }
    exit 100% { opacity: 1; top: 0; }
}

@keyframes fade-in-bot-delayed {
    contain 10% { opacity: 0; top: 10%; }
    contain 40% { opacity: 0; top: 10%; }
    contain 80% { opacity: 1; top: 0; }
    exit 100% { opacity: 1; top: 0; }
}

@keyframes fade-in-bot-late {
    contain 70% { opacity: 0; top: 10%; }
    exit 100% { opacity: 1; top: 0; }
}

/* HEADER */

header {
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 3;
}

/*BANNER*/

.banner {
    display: none;
    background: #a26970;
}

.banner__content {
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
}

.banner__text {
    /*flex-grow: 1;*/
    padding: 1rem;
    font-size: small;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
}
   
.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
}
   
.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
}
   
.subscribe {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}

.subscribe:hover {
    filter: brightness(110%);
}
   
.subscribe:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
}
   
.subscribe:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}
   
.subscribe:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
}
   
.subscribe:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}
   
.subscribe:focus:not(:focus-visible) {
    outline: none;
}

/*
.banner__close {
    background: none;
    border: none;
    cursor: pointer;
}
*/

.glass {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.background-shadow {
    background: linear-gradient(135deg, rgba(117, 117, 117, 0.1), rgba(117, 117, 117, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /*border-bottom: 1px solid rgba(255,255,255,0.1);*/
}

.glass-no-shadow {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/*TITLE*/

.title {
    background: white;
    position: relative;
    padding: 1rem;
    z-index: 2;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.title-shrink {
    background: var(--site_color_01);
    padding: 0.5rem;
}

.title__content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    flex: 2;
    position: relative;
    font-family: 'LibreBodoni-Regular', serif;
    color: black;
    font-size: 1.5rem;
    line-height: normal;
    margin: 0;
}

.site-title-shrink {
    color: black;
}

.items-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
}

.items-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.accedi {
    color: black;
    padding-right: 2rem;
    cursor: pointer;
}

.accedi:hover {
    font-weight: bold;
}

/*NAV GENERAL*/

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

.memu-toggle {
    fill: black;
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.back-arrow {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    justify-content: flex-start; /* Aligns content to the left */
}

.back-arrow svg {
    margin-left: 1rem;
}

/* MENU SHADOW */

.menu-shadow {
    pointer-events: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    background: black;
    transition: opacity 0.3s ease-in-out;
}

.menu-shadow.active {
    pointer-events: visible;
    z-index: 3;
    opacity: 0.3;
}

/* MAIN MENU */

.main-menu {
    padding: 2rem;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    max-width: 18rem;
    background-color: white;
    z-index: 4;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.37) ;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu ul li {
    margin: 0;
}

.main-menu ul li a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.main-menu ul li a:hover {
    font-weight: bold;
    transform: translateX(10px);
}

.main-menu.active {
    left: 0;
}

/* ESSENTIAL MENU */

.menu-essential {
    padding: 2rem;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    max-width: 18rem;
    background-color: white;
    z-index: 3;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.37);
}

.menu-essential ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-essential ul li {
    margin: 0;
}

.menu-essential ul li a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.menu-essential ul li a:hover {
    font-weight: bold;
    transform: translateX(10px);
}

.menu-follow-main {
    left: 0;
}

.menu-essential.active {
    left: 22rem;
}

/* DESKTOP MENU */

.desktop-menu {
    background: transparent;
    width: 100%;
    position: relative;
    top: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.desktop-menu:hover {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /*border-bottom: 1px solid rgba(255,255,255,0.1);*/
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.desktop-menu-shrink {
    transform: translateY(-100%);
}

.desktop-menu ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0;
    margin: 0;
    display: flex;
}

.desktop-menu ul li {
    margin: 0 1rem;
}

.desktop-menu ul li a {
    font-size: 1rem;
    text-decoration: none; /* Removes underline from links */
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    display: block;
}

.desktop-menu ul li a:hover {
    color: var(--site_color_02);
}

/* HERO SECTION */

.hero {
    background: var(--background_01);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('images/video0004_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero__content {
    position: relative;
}

/* MEDIA REGULATION FOR MENUS */

@media (min-width: 768px) {
    .menu-toggle {
        opacity: 0;
    }
    .menu-toggle-shrink {
        opacity: 1;
        display: block;
    }
    .desktop-menu {
        display: block;
    }
    .desktop-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .desktop-menu ul li {
        display: inline-block;
        margin: 0 1rem;
    }
}

@media (max-width: 767px) {
    .desktop-menu {
        display: none;
    }

    .accedi {
        display: none;
    }
}

/* PRODUCT HOME */

.product-home {
    background: var(--background_01);
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.product-content {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: clip;
}

.product-main-title {
    position: relative;
    left: 10%;
    text-align: center;
    opacity: 0;
    margin: 0;
    padding: 1rem;
    padding-top: 5rem;
    animation: product-main-title linear forwards;
    animation-timeline: view();
    animation-range-start: entry 30%;
    animation-range-end: 50%;
}

@keyframes product-main-title {
    to { left: 0; opacity: 1;}
}

.product-main {
    display: flex;
    position: relative;
    justify-content: center;
}

/* PRODUCT GRID */

.product-grid {
    display: grid;
    position: relative;
    left: 10%;
    gap: 4rem;
    width: 100%;
    padding: 2rem 4rem;
    padding-bottom: 30vh;
    opacity: 0;
    animation: product-grid ease-in-out forwards; 
    animation-timeline: view();
    animation-range-start: entry 20%;
    animation-range-end: 40%;
}

@keyframes product-grid {
    to { left: 0;  opacity: 1; gap: 2rem;}
}

@media (min-width: 767px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .product-main {
        padding: 1rem 1rem
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.product-card {
    width: 100%;
    background-color: white;
    border-radius:5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, height 0.3s ease;
    z-index: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-10px) scale(1.05);
    height: auto;
    overflow: visible;
}

.image-container {
    width: 100%;
    padding-top: 154%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 2;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.product-title {
    max-width: 100%;
    opacity: 0;
    position: relative;
    bottom: 0;
    z-index: 4;
    transition: opacity 0.3s ease;
}

.hover-image {
    opacity: 0;
}

.product-card:hover .hover-image {
    opacity: 1;
}

.product-card:hover .product-title{
    opacity: 1;
}

.product-card:hover .main-image {
    opacity: 0;
}

.details {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.product-card:hover .details {
    transform: translateY(100%);
    opacity: 1;
}

.size-buttons {
    display: flex;
    gap: 5px;
}

.size-btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 0.8em;
}

.size-btn:hover, .size-btn.active {
    background-color: var(--site_color_01);
    color: black;
    border-color: var(--site_color_01);
}

.add-to-cart {
    padding: 5px;
    background-color: var(--site_color_01);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.8em;
}

.add-to-cart:hover {
    background-color: var(--site_color_02);
}

/* PRODUCT HOME NEW */

.new-container {
    max-width: 100vw;
    overflow: clip;
}

.new {
    background: var(--cipria);
    position: relative;
    display: grid;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    animation: new linear forwards;
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: exit calc(100% - 2.75rem);
}

@keyframes new {
    to { transform: translateY(100%); }
}

.new-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    padding-left: 2%;
    justify-content: center;
}

.new-title {
    line-height: normal;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-desc {
    line-height: 0.5;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3%;
    opacity: 0;
    animation: fade-in-bot-delayed ease-in-out forwards;
    animation-timeline: view();
}

.new-button-container {
    position: relative;
    top: 10%;
    display: flex;
    align-content: center;
    justify-content: left;
    padding-top: 2%;
    opacity: 0;
    animation: fade-in-bot-delayed ease-in-out forwards;
    animation-timeline: view();
}

.new-title-main {
    font-family: 'LibreBodoni-Regular', serif;
    font-style: italic;
}

.new-title-seg {
    position: relative;
    top: 10%;
    margin: 0;
    opacity: 0;
    animation: fade-in-bot ease-in-out forwards;
    animation-timeline: view();
}

.new-carousel-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    justify-content: right;
}

.new-carousel {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: right;
}

.carousel-inner {
    display: flex;
    height: 60vh;
    width: 40vh;
    align-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-item {
}

.carousel-control-next, .carousel-control-prev {
    position: relative;
    width: auto;
}

.new-item {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 40vh;
}

.new-1 {
    background-image: url('images/ppd/pavonia_cover.jpg');
}
.new-2 {
    background-image: url('images/ppd/sagi_mai_cover.jpg');
}
.new-3 {
    background-image: url('images/ppd/sakura_cover.jpg');
}

@media (max-width: 767px) {
    .new {
        display: block;
        
    }
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
}

/* LUOGHI */
.luoghi {
    background: var(--chocomelanzana);
    position: relative;
}

.luoghi-content {
    position: relative;
}

.luoghi-image-container {
    display: block;
    position: relative;
    top: 2.75rem;
    height: calc(100vh - 2.75rem);
    width: 100%;
    animation: luoghi-image-container linear forwards;
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: cover calc(100% - 5.5rem);
}

@keyframes luoghi-image-container {
    to { transform: translateY(calc(100% - 2.75rem)); }
}

.luoghi-image {
    position: relative;
    height: 100%;
    background-image: url('images/residenza.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: luoghi-image linear forwards;
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: cover calc(70% - 5.5rem);
    transform: scale(0.9);
}

@keyframes luoghi-image {
    to { transform: scale(1); }
}

.luoghi-text {
    display: flex;
    flex-direction: column;
    position: relative;  
    height: calc(100vh - 2.75rem);

}

.luoghi-title {
    position: relative;
    top: 10%;
    display: flex;
    padding: 0 5%;
    padding-top: 5%;
    opacity: 0;
    animation: fade-in-bot-late ease-in-out forwards;
    animation-timeline: view();
}

.luoghi-desc {
    position: relative;
    top: 10%;
    padding: 0 5%;
    padding-bottom: 1rem;
    opacity: 0;
    animation: fade-in-bot-late ease-in-out forwards;
    animation-timeline: view();
}

.luoghi-button-container {
    position: relative;
    top: 10%;
    padding: 0 5%;
    padding-bottom: 1rem;
    opacity: 0;
    animation: fade-in-bot-late ease-in-out forwards;
    animation-timeline: view();
}

/* PERFECTO */

.perfecto {
    background: var(--background_01);
    display: none;
    position: relative;
}

.perfecto-content {
    position: relative;
    height: calc((100vh - 2.75rem) * 2);
    width: 100%;
}

.perfecto-image-container {
    position: relative;
    height: calc(100vh - 2.75rem);
    width: 100%;
    animation: perfecto-image-container linear forwards;
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: cover calc(100% - 5.5rem);
}

@keyframes perfecto-image-container {
    to { transform: translateY(calc(100% - 2.75rem)); }
}

.perfecto-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 2%;
}

.perf-item {
    position: relative;
    background-image: url('../images/perfecto/R&R-PERFECTO-DRESS-Aquaria-Desk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 5px;
    padding-top: 154% ;
}

.blank-grid {
    background: none;
    border: none;
    padding: 0;
}

/* PERFECTO-1 */

.perfecto-container {
    max-width: 100vw;
    overflow: clip;
}

.perfecto-1 {
    background: var(--cipria);
    position: relative;
    display: grid;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    animation: new linear forwards;
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: exit calc(100% - 2.75rem);
}

@keyframes perfecto-1 {
    to { transform: translateY(100%); }
}

.perfecto-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    padding-right: 2%;
    justify-content: center;
}

.perfecto-title {
    line-height: normal;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfecto-desc {
    line-height: 0.5;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 3%;
    opacity: 0;
    animation: fade-in-bot-delayed ease-in-out forwards;
    animation-timeline: view();
}

.perfecto-button-container {
    position: relative;
    top: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 2%;
    opacity: 0;
    animation: fade-in-bot-delayed ease-in-out forwards;
    animation-timeline: view();
}

.perf-title-main {
    font-family: 'LibreBodoni-Regular', serif;
    font-style: italic;
}

.perf-title {
    position: relative;
    top: 10%;
    margin: 0;
    opacity: 0;
    text-align: center;
    animation: fade-in-bot ease-in-out forwards;
    animation-timeline: view();
}

.carousel-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    justify-content: left;
}

.perfecto-carousel {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: left;
}

.carousel-inner {
    display: flex;
    height: 60vh;
    width: 40vh;
    align-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-item {
}

.carousel-control-next, .carousel-control-prev {
    position: relative;
    width: auto;
}

.perf-item-1 {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 40vh;
}

.perf-1 {
    background-image: url('images/perfecto/R&R-PERFECTO-DRESS-Aquaria-Desk.jpg');
}
.perf-2 {
    background-image: url('images/perfecto/R&R-PERFECTO-DRESS-Armadillo-Desk.jpg');
}
.perf-3 {
    background-image: url('images/perfecto/R&R-PERFECTO-DRESS-BlueMajo-Desk.jpg');
}

/*
.perf-4 {

}
.perf-5 {

}
.perf-6 {

}
.perf-7 {

}
.perf-8 {

}
.perf-9 {

}
.perf-10 {

}
.perf-11 {

}
.perf-12 {

}
.perf-13 {

}
.perf-14 {

}
.perf-15 {

}
.perf-16 {

}
.perf-17 {

}
.perf-18 {

}
.perf-19 {

}
*/

@media (max-width: 767px) {
    .perfecto-1 {
        display: block;
        
    }
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
}

/* FILOSOFIA */
.filosofia {
    background: var(--tabacco);
    position: relative;
}

.filo-content {
    position: relative;
}

.filo-image-container {
    display: block;
    position: relative;
    top: 2.75rem;
    height: calc(100vh - 2.75rem);
    width: 100%;
    animation: luoghi-image-container linear forwards;
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: cover calc(100% - 5.5rem);
}

@keyframes luoghi-image-container {
    to { transform: translateY(calc(100% - 2.75rem)); }
}

.filo-image {
    position: relative;
    height: 100%;
    background-image: url('images/home0002.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: luoghi-image linear forwards;
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: cover calc(70% - 5.5rem);
    transform: scale(0.9);
}

@keyframes luoghi-image {
    to { transform: scale(1); }
}

.filo-text {
    display: flexbox;
    position: relative;  
    height: calc(100vh - 2.75rem);

}

.filo-title {
    position: relative;
    padding: 0 5%;
    padding-top: 5%;
    opacity: 0;
    animation: fade-in-bot ease-in-out forwards;
    animation-timeline: view();
}

.filo-desc {
    position: relative;
    padding: 0 5%;
    padding-bottom: 1rem;
    opacity: 0;
    animation: fade-in-bot ease-in-out forwards;
    animation-timeline: view();
}

.filo-button-container {
    position: relative;
    top: 5%;
    padding: 0 5%;
    padding-bottom: 1rem;
    opacity: 0;
    animation: fade-in-bot ease-in-out forwards;
    animation-timeline: view();
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--rosa_residenza);
}

.raptussizzati {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
}

.sub-icon {
    width: 8%;
}

.rap-title {
}

.rap-desc {
    text-align: center;
}

.email-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 500px;
    padding-top: 2%;
}

.email {
    display: flex;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 0 #000;
}

.email:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
}

.email-box {
    height: 60px;
    padding: 12px;
    font-size: 18px;
    width: 100%;
    border: 0;
}

.email-box:focus {
    outline: none;
}

.email-box::placeholder {
    color: #888;
} 
.email-box:focus::placeholder {
    color: #fff;
} 

.email-send {
    cursor: pointer;
    fill: black;
}

.email-send:hover {
    fill: var(--indian_pink);
}

  



.email.visible {
    animation: typing 2s steps(30, end);
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
  
.email:not(:placeholder-shown) {
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 0 #000;
}

.email-send {
    height: 60px;
}

.email-privacy {
    padding-top: 1%;
    font-size: x-small;
}

@media (max-width: 767px) {

    .sub-icon {
        width: 16%;
    }

    .rap-title {
        font-size: x-large;
    } 
    
    .rap-desc {
        font-size: small;
        padding-top: 2%;
    }

    .input-container {
        padding-top: 4%;
    }

    .email-privacy {
        padding: 0 2%;
        padding-top: 5%;
        font-size: xx-small;
    }
}

.utility {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
}

.utility-item {
    display: flex;
    align-items: center;
}

.utility-item p {
    margin: 0;
}

.social-icon {
    height: 2rem;
}

.legal {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: x-small;
}
  
